@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

.background-about {
    background-color: rgb(0, 0, 0);
    padding-bottom: 100%;
    padding-top: 20px
}

.main-lb-body-about {
    display: block;
    width: 80%;
    margin: 80px auto;
}

.leadheader-about {
    display: flex;
    width: 100%;
    height: 70px;
    background: black;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin: 0;
    color: #fefefe;
    font-family: 'VT323', sans-serif;
    line-height: 1.1;
    box-sizing: border-box;
    align-items: stretch;
    justify-content: center;
    border-color: #333;
    padding-top: 1%;
    font-size: 50px;
    position: relative
}

.leadheader-about:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: 8px;
    transform: scaleX(0);
    background: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.leadheader-about:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
}

.rendered-body-about {
    background: rgba(254, 254, 254, 0.9);
    width: 100%;
    margin-left: 0;
    border-top: 1px solid rgba(107, 104, 104);
    border-bottom: 1px solid rgba(107, 104, 104);
    border-left: 1px solid rgba(107, 104, 104);
    border-right: 1px solid rgba(107, 104, 104);
    font-size: 14px;
    line-height: 1.42857143;
    color: goldenrod;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    background-color: black;
}

/* .rendered-body-about:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: 8px;
    transform: scaleX(0);
    background: goldenrod;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.rendered-body-about:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */

.rendered-text-about-1 {
    width: auto;
    position: relative;
    min-height: 1px;
    font-size: 30px;
    /* font-family: 'VT323', sans-serif; */
    border-bottom: 1px solid rgba(107, 104, 104);
    border-left: 1px solid rgba(107, 104, 104);
    border-right: 1px solid rgba(107, 104, 104);
    border-top: 1px solid rgba(107, 104, 104);
    margin-bottom: 1%;
}

.rendered-text-about-1:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: 8px;
    transform: scaleX(0);
    background: goldenrod;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.rendered-text-about-1:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    margin-left: 5%;
}

.rendered-text-about-2 {
    width: auto;
    position: relative;
    min-height: 1px;
    font-size: 30px;
    font-family: 'VT323', sans-serif;
    line-height: 1.42857143;
    border-bottom: 1px solid rgba(107, 104, 104);
    border-left: 1px solid rgba(107, 104, 104);
    border-right: 1px solid rgba(107, 104, 104);
    border-top: 1px solid rgba(107, 104, 104);
    margin-top: 1%;
}

.rendered-text-about-3 {
    width: auto;
    position: relative;
    min-height: 1px;
    font-size: 30px;
    font-family: 'VT323', sans-serif;
    line-height: 1.42857143;
    border-bottom: 1px solid rgba(107, 104, 104);
    border-left: 1px solid rgba(107, 104, 104);
    border-right: 1px solid rgba(107, 104, 104);
    border-top: 1px solid rgba(107, 104, 104);
    margin-top: 1%;
}



