.room-title{
    margin-left: 25%;
    color: white
}

.door-code{
    margin-top: 150px;
    margin-left: 350px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.code-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-btn{
    margin-top: 20px;
    border: solid;
    border-width: 2px;
    border-color: purple;
    border-radius: 5px;
}

.tool-box-container2{
    height:50px;
    width: 50px ;
    cursor: pointer;
}

.item-hover-key{
    cursor: pointer;
    width: 30px;
    height: 50px;

}

.timer-container{
    position: absolute;
    left: 630px;
    top: 218px;
    background-color: white;
    height: 50px;
    width: 75px;

}

.flag-pointer-container{
    position: absolute;
    width: 150px;
    height: 94px;
    left: 400px;
    top: 310px;
    cursor: pointer;
    /* background-color: purple; */
  
}

.drawer-pointer-container{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 540px;
    top: 476px;
    cursor: pointer;
    /* background-color: purple; */

}

.note-pointer-container{
    position: absolute;
    width: 69px;
    height: 50px;
    left: 375px;
    top: 693px;
    cursor: pointer;
    /* background-color: purple; */
}

.toolbox-pointer-container{
    position: absolute;
    width: 90px;
    height: 50px;
    left: 832px;
    top: 590px;
    cursor: pointer;
    /* background-color: purple; */
}

.screwdriver-click{
    width: 90px;
    height: 50px;
}

.gear-pointer-container{
    position: absolute;
    width: 190px;
    height: 180px;
    left: 890px;
    top: 230px;
    cursor: pointer;
    /* background-color: purple; */
}

.safe-pointer-container{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1005px;
    top: 465px;
    cursor: pointer;
    /* background-color: purple; */
}

.key-pointer-container{
    position: absolute;
    width: 30px;
    height: 50px;
    top: 418px;
    left: 115px;
    cursor: pointer;
    /* background-color: purple; */
}

.code-pointer-container{
    height: 45px;
    width: 28px;
    position: absolute;
    left: 295px;
    top: 490px;
    cursor: pointer;
    /* background-color: purple; */
}

.room-content-container{
    margin: auto;
    
}

.room-background{
    position: absolute;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 28px;
    border: solid;
    border-width: 2px;
    border-color: purple;
    border-radius: 5px;
    
}

.main{
    height: 100%;
    width: 100%;
}

.mainmain {
    background-image: url("../images/bcgd_black.jpg");
}

.inventory-container{
    position: absolute;
    height: 500px;
    width: 300px;
    background-color: tan;
    left: 1230px;
    padding: 8px;
    border: solid;
    border-width: 2px;
    border-color: purple;
    border-radius: 5px;

}

.code-pop-container{
    position: absolute;
    height: 550px;
    width: 1000px;
    background-color: tan;
    left: 150px;
    top: 260px;
    z-index: 2;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}

.flag-pop-container{
    position: absolute;
    height: 550px;
    width: 1000px;
    background-color: tan;
    left: 150px;
    top: 260px;
    z-index: 2;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}
.tool-pop-container{
    position: absolute;
    height: 550px;
    width: 1000px;
    background-color: tan;
    left: 150px;
    top: 260px;
    z-index: 2;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}
.gear-pop-container{
    position: absolute;
    height: 550px;
    width: 1000px;
    background-color: tan;
    left: 150px;
    top: 260px;
    z-index: 2;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}
.box-pop-container{
    position: absolute;
    height: 550px;
    width: 1000px;
    background-color: tan;
    left: 150px;
    top: 260px;
    z-index: 2;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}
.safe-pop-container{
    position: absolute;
    height: 550px;
    width: 1000px;
    background-color: tan;
    left: 150px;
    top: 260px;
    z-index: 2;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}
.note-pop-container{
    position: absolute;
    height: 550px;
    width: 1000px;
    background-color: tan;
    left: 150px;
    top: 260px;
    z-index: 2;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}

.door-noti-container{
    position: absolute;
    height: 400px;
    width: 320px;
    background-color: palegoldenrod;
    left: 600px;
    top: 300px;
    z-index: 3;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}

.tool-noti-container{
    position: absolute;
    height: 400px;
    width: 320px;
    background-color: palegoldenrod;
    left: 600px;
    top: 300px;
    z-index: 3;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}

.gear-noti-container{
    position: absolute;
    height: 400px;
    width: 320px;
    background-color: palegoldenrod;
    left: 270px;
    top: -100px;
    z-index: 3;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}

.flag-noti-container{
    position: absolute;
    height: 400px;
    width: 320px;
    background-color: palegoldenrod;
    left: 270px;
    top: -40px;
    z-index: 3;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}

.note-hint-container{
    margin: auto;
    margin-top: 50px;
    width: 400px;
    height: 500px;
    padding: 40px;
}

.heading-container{
    margin-bottom: 50px;
}

.note-text-container{
    width: 200px;
    height: 200px;
    margin-left: 20px;
    background-color: antiquewhite;
    border: solid;
    border-width: 2px;
    border-color: purple;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.france-hint{
    margin-left: 325px;
    text-decoration: bold;
}

.france-img{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 800px;
    height: auto;
}

.flag-puzzle-container{
    position: absolute;
    left: 200px;
    top: 50px
}

.gear-puzzle-container{
    position: absolute;
    left: 149px;
    top: 69px
}

.pop-close{
    position: absolute;
    right: 15px;
    top: 10px;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}

.screwdriver{
    height: 175px;
    width: auto;
    position: absolute;
    left: 200px;
    top: 50px;
    cursor: pointer;
}

.remote{
    height: 250px;
    width: auto;
    position: absolute;
    right: 100px;
    top: 240px;
    cursor: pointer;
}

.screwtop{
    height: 20px;
    width: auto;
    position: absolute;
    right: 500px;
    top: 20px;
    cursor: pointer;
}

.magglass{
    height: 150px;
    width: auto;
    position: absolute;
    right: 480px;
    top: 100px;
    cursor: pointer;
}

.noti-text{
    color: rgb(88, 13, 88);
    font-size: 30px;
    margin: 15px;
    margin-top: 40px;
}

.main-box{
    margin-left: 30px;
    margin-top: 30px
}

.mag-solve-noti-container{
    position: absolute;
    height: 400px;
    width: 320px;
    background-color: palegoldenrod;
    left: 600px;
    top: 75px;
    z-index: 3;
    border: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}


