
.gear-puzzle-container{
    display: flex
}

.gear-and-btn-container{
    display: flex;
    flex-direction: column;
    width: 100px;
}



.gear-start-left{
    font-size: 100px;
    color: grey;
}

.gear-spin-left{
    animation: rotate .5s;
    font-size: 100px;
    color: grey
}

.gear-start-center{
    font-size: 100px;
    color: grey;
}

.gear-spin-center{
    animation: rotate .5s;
    font-size: 100px;
    color: grey
}

.gear-start-right{
    font-size: 100px;
    color: grey;
}

.gear-spin-right{
    animation: rotate .5s;
    font-size: 100px;
    color: grey
}
.gear-start-far-right{
    font-size: 100px;
    color: grey;
}

.gear-spin-far-right{
    animation: rotate .5s;
    font-size: 100px;
    color: grey
}


@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(60deg)}
}

.safe-door-closed{
    background-color: black;
    height: 100px;
    width: 100px;
    color: white
}

.safe-door-open{
    background-color: green;
    height: 100px;
    width: 100px;
    color: white
}

.gear-button {
    color: goldenrod;
    border: 1px solid goldenrod;
    width: 100%;
    height: 25%;
    text-transform: uppercase;
    font-family: 'VT323', sans-serif;
    font-size: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    background-color: black;
    cursor: pointer
}

.gear-button:hover {
    color: black;
    background-color: goldenrod;
    border: 1px solid black
}

.gear-button-try {
    color: goldenrod;
    border: 1px solid goldenrod;
    width: 150%;
    height: 25%;
    text-transform: uppercase;
    font-family: 'VT323', sans-serif;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    background-color: black;
    cursor: pointer
}

.gear-button-try:hover {
    color: black;
    background-color: goldenrod;
    border: 1px solid black
}