@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

.background-home {
    background: rgb(86, 85, 94);
    background: linear-gradient(144deg, rgba(86, 85, 94, 1) 0%, rgba(0, 0, 0, 1) 100%);
    padding-bottom: 50%;
    padding-top: 20px
}

.main-lb-body-home {
    display: block;
    width: 70%;
    margin: 40px auto;
}

.leadheader-home {
    display: flex;
    width: 100%;
    height: 70px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin: 0;
    color: #fefefe;
    font-family: 'VT323', sans-serif;
    line-height: 1.1;
    box-sizing: border-box;
    align-items: stretch;
    justify-content: center;
    border-color: #333;
    padding-top: 1%;
    font-size: 50px;
    position: relative;
}

.leadheader-home:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: 8px;
    transform: scaleX(0);
    background: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.leadheader-home:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
}

.rendered-body-home {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) , rgb(95, 95, 95));
    width: 100%;
    margin-left: 0;
    justify-content: center;
    text-align: center;
    border-top: 1px solid rgba(107, 104, 104);
    border-bottom: 1px solid rgba(107, 104, 104);
    border-left: 1px solid rgba(107, 104, 104);
    border-right: 1px solid rgba(107, 104, 104);
    font-size: 14px;
    line-height: 1.42857143;
    color: goldenrod;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    margin-bottom: 10px
}

.rendered-body-home:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: 8px;
    transform: scaleX(0);
    background: goldenrod;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.rendered-body-home:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.rendered-text-room1-button {
    width: 100%;
    position: relative;
    min-height: 1px;
    font-size: 30px;
    font-family: 'VT323', sans-serif;
    line-height: 1.42857143;
    margin-left: 1%;
    margin-right: 1%;
    /* background-color: white; */
}
.rendered-text-room2-button {
    width: auto;
    position: relative;
    min-height: 1px;
    font-size: 30px;
    font-family: 'VT323', sans-serif;
    line-height: 1.42857143;
    margin-left: 1%;
    margin-right: 1%;
}
.rendered-text-room3-button {
    width: auto;
    position: relative;
    min-height: 1px;
    font-size: 30px;
    font-family: 'VT323', sans-serif;
    line-height: 1.42857143;
    margin-left: 1%;
    margin-right: 1%;
}
.img-resize {
    max-width: 300px;
    max-height: 300px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
}

.room1-img {
    display: flex;
    justify-content: center;
}

.rendered-body-center {
    display: flex;
    flex-direction: column;
}

.buttonlink {
    text-decoration: black;
    display: flex
}

.left {
    width: 25%
}
.button {
    color: goldenrod;
    border: 0.1em solid goldenrod;
    border-radius: 0.5em;
    width: 50%;
    height: 100%;
    text-transform: uppercase;
    font-family: 'VT323', sans-serif;
    font-size: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    background-color: black;
    cursor: pointer;
}

.button:hover {
    color: black;
    border: 0.2em solid black;
}
.button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: goldenrod;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.button:hover span {
    transform: translateY(0) scale(2);
    color: black
}

span:nth-child(1) {
    --n: 1;
}

span:nth-child(2) {
    --n: 2;
}

span:nth-child(3) {
    --n: 3;
}

span:nth-child(4) {
    --n: 4;
}