
.form-center {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

.background-login {
    background: rgb(86, 85, 94);
    background: linear-gradient(144deg, rgba(86, 85, 94, 1) 0%, rgba(0, 0, 0, 1) 100%);
    padding-bottom: 100%;
    padding-top: 20px
}

.main-lb-body-login {
    display: block;
    width: 80%;
    margin: 80px auto;
}

.leadheader-login {
    display: flex;
    width: 100%;
    height: 70px;
    background: rgb(46, 46, 52);
    background: linear-gradient(144deg, rgba(46, 46, 52, 1) 0%, rgba(0, 0, 0, 1) 100%);
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin: 0;
    color: #fefefe;
    font-family: 'VT323', sans-serif;
    line-height: 1.1;
    box-sizing: border-box;
    align-items: stretch;
    justify-content: center;
    border-color: #333;
    padding-top: 1%;
    font-size: 50px;
    position: relative;
    border: 1px solid goldenrod
}

.leadheader-login:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: 8px;
    transform: scaleX(0);
    background: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.leadheader-login:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
}

.rendered-body-login {
    background: rgb(46, 46, 52);
    background: linear-gradient(144deg, rgba(46, 46, 52, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    margin-left: 0;
    border-top: 1px solid rgba(107, 104, 104);
    border-bottom: 1px solid rgba(107, 104, 104);
    border-left: 1px solid rgba(107, 104, 104);
    border-right: 1px solid rgba(107, 104, 104);
    font-size: 14px;
    line-height: 1.42857143;
    color: goldenrod;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    border: 1px solid goldenrod
}

.rendered-body-login:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: 8px;
    transform: scaleX(0);
    background: goldenrod;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.rendered-body-login:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.rendered-text-login-1 {
    width: auto;
    position: relative;
    min-height: 1px;
    font-size: 30px;
    font-family: 'VT323', sans-serif;
}

.rendered-text-login-2 {
    width: auto;
    position: relative;
    min-height: 1px;
    font-size: 30px;
    font-family: 'VT323', sans-serif;
    line-height: 1.42857143;
}

.rendered-text-login-button {
    width: 250px;
    position: relative;
    min-height: 1px;
    font-size: 30px;
    font-family: 'VT323', sans-serif;
    line-height: 1.42857143;
}
.rendered-text-login-guest {
    width: 250px;
    position: relative;
    min-height: 1px;
    font-size: 30px;
    font-family: 'VT323', sans-serif;
    line-height: 1.42857143;
}

.rendered-text-login-button2 {
    color: goldenrod;
    border: 0.1em solid goldenrod;
    border-radius: 0.5em;
    width: 100%;
    height: 25%;
    text-transform: uppercase;
    font-family: 'VT323', sans-serif;
    font-size: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    background-color: black;
    cursor: pointer
}

.rendered-text-login-button2:hover {
    color: black;
    border: 0.2em solid black;
}

.rendered-text-login-button2 span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: goldenrod;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.rendered-text-login-button2:hover span {
    transform: translateY(0) scale(2);
    color: black
}

span:nth-child(1) {
    --n: 1;
}

span:nth-child(2) {
    --n: 2;
}

span:nth-child(3) {
    --n: 3;
}

span:nth-child(4) {
    --n: 4;
}