
.main {
    height: 100%;
    background-image: url('https://static.giggster.com/images/location/96a311fe-0c7a-48a6-ae54-74fb66368c02/655ae1a3-6b83-4c0c-8c9b-07b62671a89b/full_hd_retina.jpeg');
    height: 100%;
}